<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaskys.speedreadinginformation.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SpeedReadingInformation" >
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomeActivity"/>
        <activity android:name=".ui.activity.NewsDetailActivity"/>
        <activity android:name=".text.Text3Activity"/>
        <activity android:name=".text.Text2Activity"/>
        <activity android:name=".text.Text1Activity"/>
        <activity android:name=".text.Text4Activity"/>
        <activity android:name=".text.Text5Activity"/>
    </application>
</manifest>
